<!DOCTYPE html>
<html>
<head>
    <title>게시판 작성</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body>
    <section>
        <h4>게시판 글 작성</h4>
        <form method="post" action="#">
            <div class="row gtr-uniform gtr-50">
                <div class="col-12 col-12-xsmall">
                    <input type="text" name="title" id="title" value="" placeholder="Title" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="author" id="author" value="" placeholder="Author" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="password" id="password" value="" placeholder="password" />
                </div>
                <div class="col-12">
                    <textarea name="content" id="content" placeholder="Enter your message" rows="6"></textarea>
                </div>
                <div class="col-12">
                    <input type = "file" name = "file" placeholder = "image upload" accept = "image/*" multiple>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</body>
</html>