<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="participation.css">
    <link rel="stylesheet" href="grid.css">
    <title>Participation</title>
</head>
<body>
    <!-- header -->
    <div class="ui_container">
        <header class="col-12 main_menu">
            <div class="col-3 logo" onclick="location.href='main.html'" style="cursor:pointer;">
                <img src="./logo.png" style="width:150px " alt="logo image">
                <div style="width:210px; height:20px; margin-left:0rem">
                    <p>스마트시스템소프트웨어학과
                    <br>자유게시판</p>
                </div>
                <!--<br>자유 익명 게시판</p>-->
            </div>
            <ul class="col-8 navi_bar">
                <center>
                <li><a style = "font-size : 60px; font-style:italic; font-weight:bold;">스시소 갤러리</a></li>
                </center>
            </ul>
        </header>
    </div>
<!-- body -->
    <div class="paticipation">
        <div class="paticipation_main">
            <form action = '/search' method = 'get'>
                <center>
                <h4>글찾기</h4>
                <input type = 'text' name = 'search' style = "width:300px;">
                <input type = 'submit' value = 검색>
                </center>
            </form>
            <br><br>
            <table style = "border : 1px solid #444443; border-collapse : collapse;">
                {% for title_num, title in titles.items() %}
                <tr>
                    <td>넘버 : {{title_num}} </td>
                    <td><a href="{{ url_for('show_content', one_title = title)}}">제목 : {{title}}</a></td>
                </tr>
                {% endfor %}
            </table>

            <form action = '/create' method = 'post'>
                <input type="submit" value = "글쓰기"><br>
            </form>

        </div>
    </div>
  
    <hr>
    <!-- footer -->
    <footer class="foot" style = "position: relative; left : 0px; top : 600px;">
        <div style = "width:400px;">
            <p>숭실대학교 스마트시스템소프트웨어학과<p><p>(156-743)서울시 동작구 상도로 369 형남공학관 424호 (학과사무실)</p>
            <p>전화: 02-820-0950</p><p>이메일: smartsystem@soongsil.ac.kr</p>
        </div>
    </footer>

    <script>
        function to_page(title, page_num){
            var form = $('<form></form>');
            form.attr('action', '/title/' + page_num + '/' + title);
            form.appendTo('body');
            form.submit();
        }
    </script>

</body>
</html>