<!DOCTYPE html>
<html>
<head>
    <title>게시판 작성</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename = 'css/noscript.css') }}" /></noscript>
</head>
<body>
    <section>
        <h4>게시글</h4>
            <div class="row gtr-uniform gtr-50">
                <div class="col-4 col-12-xsmall">
                    <p>title : {{title}}</p>
                </div>
                <div class="col-4 col-12-xsmall">
                    <p>author : {{author}}</p>
                </div>
                <div class="col-4 col-12-xsmall">
                    <p>date : {{date}}</p>
                </div>
                </br><p><strong>content : </strong></p>
                <div class="col-12" style = "border:1px solid #444443; height:auto; margin:0 auto">
                    <p>{{content}}</p>
                    {% for image in images %}
                    <img src = "{{ url_for('static', filename = image )}}">
                    </br>
                    {% endfor %}
                </div>
            </div>
            </br>
            </section>
            <section>
            </br>
                <div id = 'myid' class="row gtr-uniform gtr-50">
                    <div class="col-1">
                        <ul class="actions">
                            <li><input type = "hidden" id = "title" name = "title" value = {{title}}></li>
                            <li><input type="submit" id = "revise" value="수정" class="primary" /></li>
                        </ul>
                    </div>
                    <div class="col-1">
                        <ul class="actions">
                            <li><input type = "hidden" name = "title" value = {{title}} ></li>
                            <li><input type="submit" id = "delete" value="삭제" class="primary"/></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <br/>
                <h5 style = "font-size:30px;"><strong>댓글</strong></h5>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>author</th>
										<th>comments</th>
                                        <th>date</th>
                                        <th>delete</th>
									</tr>
								</thead>
								<tbody>
									{% for author, comment in comments.items() %}
									<tr>
                                        <form action = "/delete_comment" method = "POST">
										<td>{{author}}</td>
                                        {% for item in comment %}
                                        {% if loop.index == 1 %}
                                        <td><input type = "hidden" name = "comment" value = {{item}}></td>
                                        <td><input type = "hidden" name = "title" value = {{title}}></td>
                                        {% endif %}
										<td>{{item}}</td>
                                        {% endfor %}
                                        <td><input type = "text" name = "password" value = "" placeholder="password"></td>
                                        <td><input type = "submit" id = "comment_delete" value = "삭제"></td>
                                        </form>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
            </section>
            <section>
                <form action = "/make_comment" method = "POST">
                    <div class="row gtr-uniform gtr-50">
                        <div class="col-3 col-12-xsmall">
                            <input type = "text" value = "" name = "author" placeholder="author">
                            <input type = "hidden" value = {{title}} name = "title">
                        </div>
                        <div class="col-3 col-12-xsmall">
                            <input type = "text" value = "" name = "comment" placeholder="comment">
                        </div>
                        <div class="col-3 col-12-xsmall">
                            <input type = "text" value = "" name = "password" placeholder="password">
                        </div>
                        <div class="col-3 col-12-xsmall">
                            <input type = "submit" value = "작성" name = "submit">
                        </div>
                    </div>
                </form>
            </section>
            <script>
                $(document).ready(function(){
                    $("#delete").click(function(){
                        var password = prompt("password 입력");
                        $.ajax({
                            url:"/check_password",
                            method:"post",
                            data:{title : $("#title").val(), password : password},
                            success : (res) => {
                                if(res == "1"){
                                    $.ajax({
                                        url:"/delete",
                                        method:"post",
                                        data:{title : $("#title").val()},
                                        success:(res) => {
                                            alert('삭제 완료!');
                                            window.location.href = '/';
                                        }
                                    })
                                }
                                else{
                                    alert("비밀번호가 틀립니다.");
                                }
                            },
                            error : (err) => {alert(err);}
                        })
                    })

                    $("#revise").click(function(){
                        var password = prompt("password 입력");
                        $.ajax({
                            url:"/check_password",
                            method:"post",
                            data:{title : $("#title").val(), password : password},
                            success : (res) => {
                                if(res == "1"){
                                    $.ajax({
                                        url:"/revise",
                                        method:"post",
                                        data:{title : $("#title").val()},
                                        success:(res) => {
                                            document.write(res);
                                        }
                                    })
                                }
                                else{
                                    alert("비밀번호가 틀립니다.");
                                }
                            },
                            error : (err) => {alert(err);}
                        })
                    })
                })
            </script>
</body>
</html>